body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}


.waitingForConnection {
  animation: blinker 0.5s linear infinite;
  color: blue;
  font-size: 2rem;
  font-weight: bolder;
  color: linear-gradient(
    140deg, #EADEDB 0%, #3a2099 50%, #d6d8c8 75%);
     

}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
       -webkit-transform: scale(1);
       transform: scale(1);
   }
  50% {
       -webkit-transform: scale(10.5);
       transform: scale(1.5);
   }
   100% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }
}
img {
   /* transition: .3s ease-in;
   animation: blink 1s;
   animation-iteration-count: infinite; */
}

.animate-charcter
{
   text-transform: capitalize;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  font-family:Mr Dafoe, sans-serif;
  font-size:16em;
  text-align:center;
 
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



.lasvegas {
  font-family:Mr Dafoe, sans-serif;  
  font-size:60px;
  border: none;
  color:rgb(65 78 55 / 95%);
  text-align: center;
  text-shadow: 
     1px 5px 4px rgba(0,0,0,.3), 
    0 0 2px rgba(255,255,255,1), 
    0 0 10px rgba(255,255,255,1), 
    0 0 20px rgba(255,255,255,1), 
    0 0 30px rgba(255,255,255,1), 
    0 0 40px #ff00de, 
    0 0 70px #ff00de, 
    0 0 80px #ff00de,
    0 0 100px #ff00de;
  
    font-weight: bolder;  
}


.lasvegas span{
  animation: blinking .3s infinite alternate;
  
  color: linear-gradient(
    140deg, #EADEDB 0%, #3a2099 50%, #d6d8c8 75%);
}

.lasvegas span.delay{
  animation-duration:1s;
  animation-delay: 1s;
  animation-direction: alternate;
  color: blue;
 }


@keyframes blinking {
  0%   {}
  50%  {}
  60%{
    text-shadow: 
      0 0 2px rgba(255, 255, 255, .1), 
      0 0 10px rgba(255, 255, 255, .4);
    
    text-stroke: 2px rgba(255,255,255,0.05);
    
  }
  70%{
    text-shadow: 
      0 0 2px rgba(255,255,255,1), 
      0 0 10px rgba(255,255,255,1), 
      0 0 20px rgba(255,255,255,1), 
      0 0 30px rgba(255,255,255,1), 
      0 0 40px #ff00de, 
      0 0 70px #ff00de, 
      0 0 80px #ff00de,
      0 0 100px #ff00de;
  }
  80%{
    text-shadow: 
      0 0 2px rgba(255, 255, 255, .1), 
      0 0 10px rgba(255, 255, 255, .4);
    
    text-stroke: 2px rgba(255,255,255,0.05);
  }
  100% { 
    text-shadow: 
      0 0 2px rgba(255,255,255,1), 
      0 0 10px rgba(255,255,255,1), 
      0 0 20px rgba(255,255,255,1), 
      0 0 30px rgba(255,255,255,1), 
      0 0 40px #ff00de, 
      0 0 70px #ff00de, 
      0 0 80px #ff00de,
      0 0 100px #ff00de;
  }
}